:root{
--title-color:#002D5B;
--background-color:#fefafa;
--section-background:#FDF5F5;
--button-color:#EC5B53;
--text-color:#FFFFFF;

}



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    
}

img{
    object-fit:cover;
}

.custom-heading{
    font-size:3.9rem;
   color:var(--title-color);
   text-transform: capitalize;
}
.h2-color{
    color:var(--title-color); 
}
.custom-width{
   width:700px;
}

.icon-size{
    font-size:1.5rem;
}
.about-section{
    background-color:var(--background-color);
}
.mt-6{
    margin-top:8rem;
}

.footer-background{
    background-color: var(--title-color);
    color:var(--text-color);
    font-weight:600;
}

.section-padding{
    padding:53px;
}
.custom-button{
    width:150px;
}

.mockup{
    width:900px;
    height:600px;
    display:block;
    /*object-fit: cover cropping the top part of the image.it tells the browser to crop the image to fill the container completely */

   
}

.portfolio-parallax {
    /* The image used */
    background-image: url('images/webdev11.jpg');
 
    /* Full height */
    height: 500px; 
    width:100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
   display: flex;
   justify-content:center;
   align-items:center;
  
    
}
/*content: ""; tells the browser: "Create this pseudo-element."*/
.portfolio-parallax::before{  /*pseudo-element to add an overlay on top of the image, not in place of it.*/
  content:"";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* dark overlay */
  z-index: 1;
}

.portfolio-parallax > * {
    position: relative;
    z-index: 2; /* so your text sits above the overlay */
  }


.parallax-text{
    font-size:5rem;
    color:var(--text-color);
    font-weight:900;
    
}


.image-wrapper.visible{
    clip-path:inset(0 0 0 0);
    opacity: 1;
}

.custom-underline{
  
  margin:auto;
    border-bottom:2px solid var(--button-color);
   width:15%;
   padding:33px;
}


.parallax-content{
   
    font-family:Dancing Script;
}
.skill-container{
    width:100%;
    height:20px;
    background-color:lightgray;
    overflow: hidden;
}
.skills{
    text-align:right;
    font-size:0.6rem;
    font-weight:900;
    color:var(--text-color);
    width:0;
    height:100%;
    transition: width 1.5s ease-in-out;
}

.html{width:90%;  background:var(--button-color)}
.css{width:80%; background:var(--button-color) }
.javascript{width:75%  ; background:var(--button-color)}
.figma{width:85% ; background:var(--button-color)    }
.bootstrap{width:75%  ; background:var(--button-color)}
.git{width:70%  ; background:var(--button-color)  }
.react{width:10% ; background:var(--button-color)  }