:root{
--title-color:#002D5B;
--background-color:#fefafa;
--section-background:#FDF5F5;
--button-color:#EC5B53;
--text-color:#FFFFFF;

}



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Playfair Display;
  

}

html,body{
    margin:0;
    padding:0;
    
   
    
}


html {
    scroll-behavior: smooth;
  }

  .skill-icon {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .skill-icon:hover {
    transform: scale(1.1);
  
  }
  .skill-icon-wrapper {
    position: relative;
    display: inline-block;
  }
  .skill-icon-wrapper::before {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 255, 255, 0.1);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
  }
  .skill-icon-wrapper:hover::before {
    opacity: 1;
  }
 


  .custom-bg{
    background-color:#FDF5F5; 
    max-width:600px;
    width:100%
  }

.custom-icon{
    font-size:1.5rem;
    vertical-align:baseline;
}
.custom-icon:hover{
    color:var(--button-color);
}
.custom-size{
    font-weight:700;
    font-size:2rem;
}
h3{
    font-size:1rem;
}
a{
    color:black;
    text-decoration: none;
    font-family: Montserrat;
    text-transform: capitalize;
}
p,button,input,textarea,a,h3,label{
    font-family:Montserrat;
    font-size:1rem;
}
.logo{
    width:50px;
    
    height:50px;
    border-radius: 100%;
}
.custom-logo{
    color:var(--text-color);
    font-weight:900;
    font-family:Monserrat;
}

.custom-shadow{
   border:1px solid black;
   gap:11px;
}

.project-image {
   
    height: 250px;
    object-fit:contain;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Optional: nice shadow */
    border-radius: 8px; /* Optional: smooth corners */
  }
.custom-card{
    height:500px;
    max-width:400px;
   
}

.custom-heading{
    font-size:3.9rem;
   color:var(--title-color);
   text-transform: capitalize;
}
.h2-color{
    color:var(--title-color); 
}
.custom-width{
   width:700px;
   
}
h3{
    text-transform:capitalize;
}
.project-card{
   height:100%;
}

.card-img-top{
    width:100px;
    height:100px;
    margin:auto;
}
.project-card img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
   width:100%;
   height:500px;;
   display:block;
    
  }
.project-card:hover img {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

.icon-size{
    font-size:6.5rem;
    color:var(--title-color)
}
.about-section{
    background-color:var(--background-color);
}
.mt-6{
    margin-top:8rem;
}

.footer-background{
    background-color: var(--title-color);
    color:var(--text-color);
    font-weight:600;
}

.section-padding{
    padding:53px;
}
.custom-button{
    max-width:150px;
    width:100%;
    margin-bottom:2rem;
}
.custom-flex{
    margin-top: auto;
}
.mockup{
    max-width:900px;
    width:100%;
    height:600px;
    display:block;
    /*object-fit: cover cropping the top part of the image.it tells the browser to crop the image to fill the container completely */

   
}
.my-flex{
    gap:3rem;
}

  

.portfolio-parallax {
    /* The image used */
    background-image: url('images/webdev11.jpg');
 
    /* Full height */
    height: 500px; 
    width:100%;
   
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
   display: flex;
   justify-content:center;
   align-items:center;
  
    
}
/*content: ""; tells the browser: "Create this pseudo-element."*/
.portfolio-parallax::before{  /*pseudo-element to add an overlay on top of the image, not in place of it.*/
  content:"";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* dark overlay */
  z-index: 1;
}

.portfolio-parallax > * {
    position: relative;
    z-index: 2; /* so your text sits above the overlay */
  }


.parallax-text{
    font-size:5rem;
    color:var(--text-color);
    font-weight:900;
    
}


.image-wrapper.visible{
    clip-path:inset(0 0 0 0);
    opacity: 1;
}

.custom-underline{
  
  margin:auto;
    border-bottom:2px solid var(--button-color);
   max-width:500px;
   width:100%;
   padding:33px;
   margin-top:3rem;
}


.parallax-content{
   
    font-family:Dancing Script;
}
.skill-container{
    width:100%;
    height:20px;
    background-color:lightgray;
    overflow: hidden;
}
.skills{
    text-align:right;
    font-size:0.6rem;
    font-weight:900;
    color:var(--text-color);
    width:0;
    height:100%;
    transition: width 1.5s ease-in-out;
}

.html{width:90%;  background:var(--button-color)}
.css{width:80%; background:var(--button-color) }
.javascript{width:75%  ; background:var(--button-color)}
.figma{width:85% ; background:var(--button-color)    }
.bootstrap{width:75%  ; background:var(--button-color)}
.git{width:70%  ; background:var(--button-color)  }
.react{width:10% ; background:var(--button-color)  }


@media screen and (max-width:768px){
   .responsive-text{
    font-size:1rem;
   
   }
   .custom-button{
    width:50%;
   }
.custom-heading{
    font-size:2rem;
    text-align: center;
   }
  
  .custom-width{
    width:100%;
   }
   .custom-card{
    width:100%;
   }
   .project-card img {
    height:300px;
   }
   .mockup{
    width:400px;
    height:300px;
   }
   .portfolio-parallax {
    height: 300px; 
  }
  .parallax-text{
    font-size:2rem;
    
  }
  .custom-underline{
    width:90%;
  }
  .custom-button{
    width:auto;
    
  }
  .custom-icon{
    font-size:1.5rem;
  }
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  }












 
